---
# Perform the power action
# one of powered-off, powered-on, reboot-guest, restarted, shutdown-guest, suspended, present (default == powered-on)
- name: "Set environment. Target power state: {{ power_action_target_state }}"
  ansible.builtin.set_fact:
    force: false

# - name: Find Guest's Folder using name
#   community.vmware.vmware_guest_find:
#     hostname: "{{ vcenter_hostname }}"
#     username: "{{ vcenter_username }}"
#     password: "{{ vcenter_password }}"
#     name: "{{ item.name }}"
#   delegate_to: localhost
#   register: vm_folder

- name: "Set state"
  when: power_action_target_state == "powered-on"
  ansible.builtin.set_fact:
    power_action_force: true

- name: "Power Action - power state set to: {{ current_state }} for host: {{ item.name }}" # noqa: name[template]
  vmware.vmware.vm_powerstate:
    hostname: "{{ vcenter_hostname }}"
    username: "{{ vcenter_username }}"
    password: "{{ vcenter_password }}"
    datacenter: "{{ datacenter_name }}"
    folder: "{{ datacenter_folder }}"
    name: "{{ item.name }}"
    state: "{{ current_state }}"
    force: "{{ force }}"
  delegate_to: localhost
